<header class="p-8 flex justify-between items-center border-b-2 shadow-md" data-testid="header">
  @let style = "text-4xl font-extrabold";

  <a routerLink="">
    <blearn-title
      studentText="BLearn"
      teacherText="BLearn Teachers"
      studentStyle="{{style}} text-student"
      teacherStyle="{{style}} text-teacher"
    />
  </a>
  <blearn-button
    icon="shuffle"
    studentText="Switch to Teacher mode"
    teacherText="Switch to Student mode"
    studentStyle="bg-teacher text-white"
    teacherStyle="bg-student text-white"
    (click)="switchMode()"
    data-testid="button"
    routerLink=""
  />
</header>
