<div #scene class="flex flex-col h-full w-full">
  <div class="flex flex-row justify-center">
    <blearn-button
      icon="play"
      studentText="Run"
      teacherText="Run"
      studentStyle="bg-green-500 text-white"
      teacherStyle="bg-green-500 text-white"
      (clicked)="runCode.emit()"
      [disabled]="isRunning()"
    />
    <blearn-button
      icon="stop"
      studentText="Stop"
      teacherText="Stop"
      studentStyle="bg-red-500 text-white"
      teacherStyle="bg-red-500 text-white"
      (clicked)="isRunning.set(false)"
      [disabled]="!isRunning()"
    />
    @if (modeService.getMode() === 'teacher') {
      <blearn-button
        icon="plus"
        teacherText="Add"
        teacherStyle="bg-gray-500 text-white"
        (clicked)="addObject()"
      />
    }
  </div>

  <div class="flex flex-row space-x-4">
    @for (obj of sceneObjects; track obj.id) {
      <img [src]="obj.imgSrc"
           [alt]="obj.id"
           [ngClass]="['w-24 h-24 rounded', selectedObject() === obj.id ? 'border-4 border-red-500' : '']"
           (click)="objectSelected.emit(obj.id)">
    }
  </div>

  <canvas #canvas class="w-full h-screen bg-gray-300"></canvas>
</div>
