<div class="px-4">
  @let text = "Your Activities";
  @let style = "pb-2 text-3xl border-b-4";
  <blearn-title
    studentText="{{text}}"
    teacherText="{{text}}"
    studentStyle="{{style}} text-student border-student"
    teacherStyle="{{style}} text-teacher border-teacher"
  />
  <div class="my-8 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-6 justify-items-center">
    @for (activity of activityList(); track activity.id) {
      <blearn-activity
        [activity]="activity"
        (deleteActivityEmitter)="onDeleteActivity($event)"
      />
    } @empty {
      <div>
        <p>You haven't worked in any tasks yet in this browser</p>
      </div>
    }
  </div>
</div>
