<div class="flex flex-col">
  <div class="flex justify-between items-center p-8 border-b-2 border-student">
    @if (modeService.getMode() === 'student') {
      <blearn-title
        studentText="{{activity()?.title}}"
        studentStyle="text-4xl p-2"
      />
    } @else {
      <input
        class="p-2 border-4 rounded-lg bg-gray-50 text-4xl"
        type="text"
        [ngModel]="activity()?.title"
        (ngModelChange)="updateTitle($event)"
      >
    }

    @let style = "text-white";
    @let buttonText = "Download activity";
    <blearn-button
      studentText="{{buttonText}}"
      teacherText="{{buttonText}}"
      studentStyle="bg-student {{style}}"
      teacherStyle="bg-teacher {{style}}"
      (click)="activityService.downloadActivity(activity()!)"
    />
  </div>

  <p>{{ activity()?.description }}</p>
  <button (click)="saveWorkspace()">Save Workspace</button>
  <div class="flex h-screen w-full">
    <div #blocklyArea class="relative flex-1">
      <div #blocklyDiv class="absolute w-full h-full"></div>
    </div>
    <!--<blearn-blockly-editor
      [toolbox]="toolbox"
      [workspaceJSON]="this.activity()!.workspace"
      [BLOCKS_LIMITS]="this.BLOCK_LIMITS"
      (openModal)="openBlocksModal()"
    />-->

    <div class="w-2 bg-gray-300 cursor-ew-resize"></div>

    <div #scene class="flex-1 border-l border-gray-300">
      <canvas #canvas class="w-full h-full"></canvas>
    </div>
  </div>
  <ng-container #modalHost/>
</div>
