<div class="px-10">
  <div class="py-20 flex justify-between">
    @let prefix = "Welcome, ";
    @let titleStyle = "text-6xl font-extrabold";
    <blearn-title
      studentText="{{prefix}}Student!"
      teacherText="{{prefix}}Teacher!"
      studentStyle="{{titleStyle}}"
      teacherStyle="{{titleStyle}}"
    />
    <div class="flex justify-around gap-4 my-auto">
      @let buttonStyle = "text-white";

      @if (modeService.getMode() === 'teacher') {
        <blearn-button
          teacherText="Evaluate task"
          teacherStyle="text-teacher border-2 border-teacher"
        />
      } @else {
        <input #fileInput type="file" (change)="onFileSelected($event)" accept=".blearn" hidden>
      }

      <blearn-button
        studentText="Import task"
        teacherText="Create task"
        studentStyle="bg-student {{buttonStyle}}"
        teacherStyle="bg-teacher {{buttonStyle}}"
        (click)="addActivity()"
      />
    </div>
  </div>
  <div>
    <blearn-activity-list [activityList]="activityList" (deleteActivityEmitter)="deleteActivity($event)"/>
  </div>
</div>

